body{
    margin-top: -0;
    margin-left: -0;
}
h1{
    text-align: center;
    margin-top: 3vh;
}
#greenKiosk{
    width: 100vw;
    height: 40vh;
}
.content{
    margin-left: 5vw;
}
#fruList{
    display: flex;
    gap: 8vw;
}
#stock{
    width: 10vw;
    height: 10vw;
    border-radius: 500px;
}
#vegList{
    display: flex;
      gap: 8vw;
}
li{
    text-align: center;
}
#fruLiST p{
    margin-left: 8vw;
}