body{
    margin-top: -0;
    margin-left: -0;
}
h1{
    text-align: center;
    margin-top: 3vh;
}
#greenKiosk{
    width: 100vw;
    height: 40vh;
}
.content{
    margin-left: 3vw;
}
#fruList{
    display: flex;
    gap: 12vw;
}
#stock{
    width: 10vw;
    height: 10vw;
    border-radius: 500px;
}
#vegList{
    display: flex;
      gap: 12vw;
}
li{
  margin-top: 5vh; 
}


#fruLiST p{
    margin-left: 8vw;
}
.top_buttons{
    margin-top: 2vh;
    display: flex;
    margin-left: 60vw;
    gap: 10vw;
    border: none;
    background-color: rgb(194, 194, 125);
    padding:2vh
}
a{
    text-decoration: none;
    color: green;
}
.item{
  background: #EAF6FF;
  border-left: 8px solid #07c900;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 201, 167, 0.15);
  margin-bottom: 40px;
  align-items: center;
}